<div class="s-layout" id="over">
  <!-- Sidebar -->
  <div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" href="#0">
       <i class="fa fa-bars"></i>
    </a>

    <nav class="s-sidebar__nav">
       <ul>

        <a href="#"><img src="https://pbs.twimg.com/profile_images/1217674716074237954/3FhUCBcn.jpg" alt=""></a>
          <li>
             <a class="s-sidebar__nav-link" [routerLink]="['/header/dashboard']" routerLinkActive='active'>
                <i class="fa fa-home" id="_1"></i><em>DashBoard</em>
             </a>
          </li>
          <li>
             <a class="s-sidebar__nav-link" [routerLink]="['/header/pie']" routerLinkActive='active'>
               <i class="fa fa-user" id="_2"></i><em>Chart</em>
             </a>
          </li>
          <li>
            <a class="s-sidebar__nav-link" routerLink='/header/date' routerLinkActive='active'>
              <i class="fa fa-calendar" id="_3"></i><em>Date</em>
            </a>
         </li>

       </ul>

    </nav>
  </div>

  <!-- Content -->
  <main class="s-layout__content" >
    <nav class="navbar navbar-expand-lg " >
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-md-auto gap-2">

            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp;
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" id="item" routerLink='/login'> <i class="fa fa-sign-out" ></i>&nbsp;Logout</a>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>



        <!-- <div id="root">
          <div class="container pt-5">
            <div class="row align-items-stretch">
              <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                  <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                    <i class="fa fa-user fa-2x"></i>&nbsp;Users</h4><span class="hind-font caption-12 c-dashboardInfo__count">{{user_count}}</span>
                </div>
              </div>
              <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                  <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><i class="fa fa-mobile fa-2x"></i>&nbsp;Devices</h4><span class="hind-font caption-12 c-dashboardInfo__count">{{login_count}}</span>

                </div>
              </div>
              <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">

                  <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                    <i class="fa fa-fast-forward fa-2x"></i>&nbsp;Vedio Played</h4><span class="hind-font caption-12 c-dashboardInfo__count">5000</span>
                </div>
              </div>
              <div class="c-dashboardInfo col-lg-3 col-md-6">
                <div class="wrap">
                  <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"><i class="fa fa-university fa-2x"></i>&nbsp;Institutions</h4><span class="hind-font caption-12 c-dashboardInfo__count">4</span>
                </div>
              </div>
            </div>
          </div>
        </div>

 -->


<!--
        <div class="row">
          <div class="col-md-5"></div>
        <div class="col-md-1"></div>
           <div class="col-md-5">
               <div class="container h-100">


                <div class="d-flex justify-content-center h-100">
                  <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>

                  </div>
                </div>
              </div>
             </div>
           </div> -->



        <!-- <div class="container">
        <div class="row">
            <div class="col ">
                <div class="table-responsive">
                    <table >
                        <thead class="thead-inverse">
                            <tr>
                                <th>Sl No</th>
                                <th>Media</th>
                                <th>DeviceId</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Server Time</th>
                                <th>Time Usage</th>
                            </tr>
                        </thead>

                        <tbody>
                          <tr *ngFor="let address of addresses;let i = index">
                            <td >{{i+1}}</td>
                            <td> {{ address.mediaSubject }}</td>
                            <td> {{ address.deviceId}} </td>
                            <td> {{ address.startTime.seconds*1000 | date:'yyyy/MM/dd HH:mm:ss'}} </td>
                            <td> {{ address.endTime.seconds*1000 | date:'yyyy/MM/dd HH:mm:ss'}} </td>
                            <td> {{ address.uploadTime.seconds*1000 | date:'yyyy/MM/dd HH:mm:ss'}} </td>
                            <td> {{ address.watchMinutes}} </td>
                          </tr>
                        </tbody>
                    </table>
                    <mat-paginator [pageSizeOptions]="[120, 10, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
        </div> -->
        <tr>

          <!-- <div class="row">
            <div class="col">
              <div class="container h-100"> -->

                <!-- <select class="form-control" (change)="takedata($event)">
                  <option value="">- Select -</option>
                  <option *ngFor="let sport of dates" [value]="sport.id">{{sport.id}}</option>
              </select> -->


                <!-- <input matInput [matDatepicker]="picker" [(ngModel)]="selectdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> -->
                <!-- <div class="select">
                  <select name="slct" id="slct" (change)="takedata($event)">
                    <option selected disabled>Select Date</option>
                    <option *ngFor="let sport of dates" [value]="sport.id">{{sport.id}}</option>
                  </select>
                </div>


              <div class="row">
                <div class="col ">
                    <div class="table-responsive">
                          <table >
                              <thead class="thead-inverse">
                                  <tr>
                                      <th>Sl No</th>
                                      <th>Media</th>
                                      <th>DeviceId</th>
                                      <th>Start Time</th>
                                      <th>End Time</th>
                                      <th>Server Time</th>
                                      <th>Time Usage</th>
                                  </tr>
                              </thead>

                              <tbody>
                                <tr *ngFor="let s of dat" >

                                    <td  *ngIf="s.analyticsDateString==id"> {{s.dateAppFlowClicks}}</td>
                                    <td *ngIf="s.analyticsDateString==id">   {{s.dateNumberVideosWatched}}</td>
                                    <td *ngIf="s.analyticsDateString==id"> {{s.dateNumberTextbooksRead}}</td>
                                    <td *ngIf="s.analyticsDateString==id"> {{s.dateSuccessfulLogins}} </td>
                                    <td *ngIf="s.analyticsDateString==id"> {{s.dateAssessmentsDone}}</td>
                                    <td *ngIf="s.analyticsDateString==id"> {{s.analyticsDateString}} </td>
                                    <td *ngIf="s.analyticsDateString==id"> {{s.subjectCode}} </td>


                                </tr>
                              </tbody>
                          </table>
                        </div>
                    </div>
            </div>-->
            <!-- <app-date></app-date> -->
            <!-- </div>

            </div> -->
          <!-- </div> -->

<router-outlet></router-outlet>









</main>
</div>
