
<div id="root">
  <div class="container pt-5">
    <div class="row align-items-stretch">
      <div class="c-dashboardInfo col-lg-3 col-md-6">
        <div class="wrap">

          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
            <i class="fa fa-user fa-2x" id="_1"></i>&nbsp;
            <span>Users</span></h4><h4 class="hind-font caption-12 c-dashboardInfo__count">{{user_count}}</h4>
        </div>
      </div>
      <div class="c-dashboardInfo col-lg-3 col-md-6">
        <div class="wrap">

          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
            <i class="fa fa-mobile fa-2x" id="_2"></i>&nbsp;
            <span>Logins</span></h4><h4 class="hind-font caption-12 c-dashboardInfo__count">{{login_count}}</h4>
        </div>
      </div>

      <div class="c-dashboardInfo col-lg-3 col-md-6">
        <div class="wrap">

          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
            <i class="fa fa-fast-forward fa-2x" id="_3"></i>&nbsp;
            <span>Vedio Played</span></h4><h4 class="hind-font caption-12 c-dashboardInfo__count" >{{sumTotal}}</h4>
        </div>
      </div>
      <div class="c-dashboardInfo col-lg-3 col-md-6">
        <div class="wrap">

          <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
            <i class="fa fa-university fa-2x" id="_4"></i>&nbsp;
            <span>Institutions</span></h4><h4 class="hind-font caption-12 c-dashboardInfo__count">3</h4>
        </div>
      </div>
    </div>
    <div class="container pt-5" id="back">

          <app-tablesmat></app-tablesmat>
      </div>

</div>

<!-- <div class="row">
  <div class="col-md-5"></div>
<div class="col-md-1"></div>
   <div class="col-md-5">
       <div class="container h-100">


        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="searchitem" >
            <a  class="search_icon" ><i class="fas fa-search"></i></a>

          </div>
        </div>
      </div>
     </div>
   </div> -->
   <div class="container h-100">

</div>



